:root {
    --blue-background: #f39090;
    --text-color: #EBE8D6;
}

html {
    font-size: 62.5%;
    font-family: 'Redressed', sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
    background: var(--blue-background);  /* fallback for old browsers */  
    }
h2 {
    font-size: 3.2rem;
    font-family: 'Roboto', sans-serif, monospace;
    color: var(--text-color);
    font-weight: 800;
}
p {
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 500;
}
a {
    color: #EBE8D6;
    text-decoration: none;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 1.4rem;
}
ul > li {
    font-size: 2.2rem;
    color: var(--text-color);
    font-family: 'Redressed', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 6rem repeat(6, 1fr);
    border: 1px dotted var(--blue-background);
}
.item-nav {
    grid-column: 1 / 4;
}
.item-main {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 12rem;    
}
.content {
    width: 60rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 2.4rem 0;   
}
.item-footer {
    grid-column: 1/ 4;
    grid-row: 7 / 8;     
}
.item-images {
    grid-row: 3 / 5;
    grid-column: 1 /4;
    background: gold;
}
.item-image-A {
    grid-row: 5 / 7;
    grid-column: 1 / 2;
    background: orange;
}
.item-image-B {
    grid-row: 5 / 7;
    grid-column: 2 / 3;
    background: olivedrab;
}
.item-image-C {
    grid-row: 5 / 7;
    grid-column: 3 / 4;
    background: orchid;
}
.item-product-A {
    grid-row: 3 / 5;
    grid-column: 1 / 3;   
}
.item-product-B {
    grid-row: 3 / 4;
    grid-column: 3 / 4;    
}
.item-product-C {
    grid-row: 4 / 5;
    grid-column: 3 / 4;    
}

img {
    width: 30rem;
    height: 20rem;
}
.container-3d {
    border: 2px solid var(--text-color);
    width: 100%;
    height: 100%;
    overflow: visible;
}
.rotate {
    border: 1px solid gold;
    transform: rotateZ(45deg);
    width: 20rem;
    height: 20rem;   
    left: 30rem; 
    top: 8rem;
    position: relative;
}


main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 2px;
    scroll-behavior: smooth;
  }
  
  section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform-style: preserve-3d;
    column-gap: 8rem;
  }
  
  .no-parallax {
    background-color: #f39090;
    z-index: 999;
  }
  
  section h1 {
    text-align: center;
    font-size: 4rem;
    font-family: sans-serif;
  }
  .parallax::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
  }
  .bg::after {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://picsum.photos/id/1073/1080/720');
  background-size: cover;
  }
  .parallax h1 {
    width: 60%;
    font-size: 2rem;
  }
/*My CSS*/

main::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .separator {
    height: 20rem;
    background: #f39090;
    width: 100%;    
  }

  footer {
    text-align: justify;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 3.2rem;
    font-size: 2.2rem;
    color: #EBE8D6;
    padding: 2rem 0;
  }
  .img-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 45rem;
  }
  .felx-test {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
